<div>
  <p>Eight years experience as a self-taught software developer and recent graduate of the Epicodus Code School with demonstrated knowledge in Ruby, Ruby on Rails, Python, Flask, Django, Sinatra, JavaScript, HTML, CSS, PHP, API's/Frameworks and SQL Database Management.  Proven track record in project management and process improvement initiatives with a focus on LEAN and Agile concepts.</p>

  <p>Frequently described as a proactive, motivated and innovative leader with a strong background in business, communications, research and analytics, I am regarded as a strong, passionate, effective leader across functions and regions. I leverage inclusive and collaborative partnerships to deliver sustained business and organizational growth. I consistently challenge myself and the status quo to push boundaries and raise the bar. My strengths are in change management, operating with discipline, leveraging technologies, and accountability behind agreed-to measures.</p>
</div>