<!-- <div class="splash">
  <h1 class="header1 text-center">Let's bring your product to life</h1>
  <p class="header2 text-center">I provide real world solutions for real world people</p>
</div> -->

<section id="wrapper">
  <div class="banner">
    <%= image_tag 'banner.jpg' %>
  </div>
</section>