<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you, <%= @prospect.name %> for requesting a proposal!</h1>
    <p>Thank you for requesting a proposal.  I will review the information you submitted and contact you within two business days so that we may discuss your project further!</p>
    <p>Best regards,</p>
    <p>Duane M. Moody</p>
  </body>
</html>