a {
  text-decoration: none;
}

body {
  // font-family: Palatino, "Book Antiqua", Baskerville, Georgia, Times, "Times New Roman", serif;
  font-family: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.75em;
  line-height: 1.5em;
  position: relative;
}

header {
  display: block;
  font-size: 95%;
}

hgroup {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.75em;
}

hgroup h1 {
  margin: 0;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  font-size: 3.7em;
  text-transform: lowercase;
  line-height: 0.95em;
  letter-spacing: 0.08em;
  color: inherit;
}

hgroup h2 {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #333333;
  letter-spacing: 0.25em;
  text-transform: lowercase;
  float: right;
  border-top: 0.125em solid #dddddd;
  margin-right: .42em;
  padding-left: 0em;
  padding-right: 1.25em;
  line-height: 1em;
  white-space: nowrap;
}

hgroup a {
  color: inherit;
  text-decoration: none;
}

h1 {
  display: block;
}

aside {
  display: inline-block;
  position: relative;
  top: -0.15em;
  font-family: Georgia;
  font-size: 1.15em;
  letter-spacing: 0.15em;
  word-spacing: 0.3em;
  color: #868c8f;
}

aside a,
a:hover {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: normal;
}

.sidebar {
  background-color: white;
  margin-top: 25px;
  // padding-left: 70px;
}

ul.sidebar ul li {
  padding-left: 20px;
  font-size: .75em;
}

.page-header {
  border-bottom: .15em solid #363636;
}

.duane {
  color: #35383a;
}

.space {
  display: none;
}

.moody {
  color: #7e91a3;
}

.who,
.what {
  font-family: Optima, "Trebuchet MS";
  font-size: 1.15em;
  color: #444444;
  word-spacing: 0;
  white-space: nowrap;
}

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

.affirmative-link {
  background-color: transparent;
  color: #4183a4;
  font-size: 1.15em;
  letter-spacing: 0.05em;
}

.affirmative-link:hover {
  color: #f88f1e;
  text-decoration: none;
}

.bullets li {
  display: block;
}

.bullets li:before {
  margin:0 8px 0 -18px;
  color: #4183a4;
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: .6em;
  float: left;
}

.header1 {
  margin: 30px 0 20px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-transform: lowercase;
  line-height: 0.95em;
  letter-spacing: 0.08em;
  color: #5ac37f;
}

.header2 {
  margin: 20px 0 10px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  font-size: 1.5em;
  color: #f88f1e;
  letter-spacing: 0.25em;
  text-transform: lowercase;
  margin-right: .42em;
  padding-left: 0em;
  padding-right: 1.25em;
  line-height: 1em;
  white-space: nowrap;
}

.page-header {
  margin-bottom: 5px;
}

.header-nav a,
.side-nav a {
  color: #7e91a3;
}

.splash {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.splash .header2 {
  margin-right: inherit;
  padding-left: inherit;
  padding-right: inherit;
  line-height: 1em;
}

.list-inline > li:last-child {
  padding-right: 0;
}

.spread-space > li:not(:first-child) {
  padding-left: 20px;
}