<header class="page-header">
  <hgroup>
    <h1>
      <a href="/" rel="index">
      <span class="duane">Duane</span><span class="space">&nbsp;</span><span class="moody">Moody</span>
      </a>
    </h1>
    <h2>Software Developer</h2>
  </hgroup>
<!--   <aside>
  <span class="what">code <span class="amp">&amp;</span> rants</span> of
  <a href="http://duanemoody.io/" rel="me"><strong class="who">Duane M. Moody</strong></a><span class="period">.</span>
  </aside> -->

<!--   <div class="header-name">
  </div>
  <div class="header-nav">
    <nav role="navigation">
      <ul class="nav nav-pills nav-home hidden-phone">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
      </ul>
      <ul class="nav nav-pills nav-pages pull-right">
        <li><a href="/permalink/3b823ce51d" class="inactive">About Me</a></li>         
        <li><a href="/permalink/6f59396578" class="inactive">My Favorite Tools</a></li>
      </ul>
    </nav>
  </div> -->
</header>