<header class="page-header">
  <hgroup>
    <h1>
      <a href="/" rel="index">
      <span class="duane">Duane</span><span class="space">&nbsp;</span><span class="moody">Moody</span>
      </a>
    </h1>
    <h2>Software Developer</h2>
  </hgroup>
<!--   <aside>
  <span class="what">code <span class="amp">&amp;</span> rants</span> of
  <a href="http://duanemoody.io/" rel="me"><strong class="who">Duane M. Moody</strong></a><span class="period">.</span>
  </aside> -->
</header>