<div class="header-nav row">
  <nav role="navigation">
    <ul class="list-unstyled pull-right">
      <li>
        <a href="https://calendly.com/dmmoody" class="btn btn-affirmative-link" target="_blank">
        <span class="glyphicon glyphicon-calendar"></span> Schedule Meeting</a>
      </li>         
    </ul>
  </nav>
</div>