<div class="header-nav">
  <nav role="navigation">
    <ul class="list-inline">
      <li>
        <%= link_to "home", root_path %>
      </li>         
      <li class="pull-right">
        <%= link_to "manifesto", manifesto_path %>
      </li>         
    </ul>    
  </nav>
</div>