<div class="header-nav">
  <nav role="navigation">
    <ul class="list-inline">
      <li>
        <%= link_to "home", root_path %>
      </li>         
      <li class="pull-right">
        <ul class="list-inline spread-space">
          <li><%= link_to "hire me", new_prospects_path %></li>
          <li><%= link_to "manifesto", manifesto_path %></li>
          <li><a href="#">blog</a></li>
        </ul>
      </li>         
    </ul>    
  </nav>
</div>