<div class="header-nav">
  <nav role="navigation">
    <ul class="list-inline">
      <li>
        <a href="/" class="btn btn--link">
        <span class="glyphicon glyphicon-home"></span> Home</a>
      </li>         
      <li class="pull-right">
        <a href="https://calendly.com/dmmoody" class="btn btn--link" target="_blank">
        <span class="glyphicon glyphicon-calendar"></span> Schedule Meeting</a>
      </li>         
    </ul>    
  </nav>
</div>